li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #435DD8;
}

a:hover {
  color: #40A562;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-thumb {
  background-color: #12283D;
}

body {
  font-family: Lato, sans-serif;
  background-color: #14191E;
  color: #3B84B6;
  font-size: 30px;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  width: 40vw;
  height: auto;
  position: absolute;
  left: 30vw;
}

p {
  font-size: 30px;
  text-align: justify;
  color: #2C6891;
}
