{%extends 'base/algorithm_base.html'%}
{%block header%}
	<title>Algorithm</title>
{%endblock%}
{%block algorithm%}
	<h1>Algorithm</h1>
	<div class="container">
		<h2>What is Meta-Heuristic Algorithm?</h2>
		<p>Meta-Heuristic Algorithms are high level procedural algorithms which are designed mainly to find, generate and select heuristics which would provide the best possible solutions for a given optimization problem. Meta-Heuristic algorithms generate a completely random set of solutions on an extremely large space which would then be optimized to find the best possible solution for the given problem. The advantage of meta-heuristic algorithms is there is no bias over the generated set of solutions. The solutions are completely random and, by each iteration, approach towards a <i>universally optimal result</i> across different solutions.</p>
		
		<h2>PSO</h2>
		<p>Particle Swarm Algorithm is a meta-heuristic algorithm which is manily used to optimize a problem by repeatedly trying to provide a solution with regard to measure of general quality among the candidate solutions.</p>
		<p>More details about  <a href="PSO/" target="_blank">PSO</a> </p>
		
		<h2>GA</h2>
		<p>Genetic Algorithm is a meta-heuristic algorithm inspired from the working of natural selection, belonging to a large list of evolutionary algorithms. It is commonly used to generate solutions of high quality for problems of optimization.</p>
		<p>More details about <a href="GA/" target="_blank">GA</a> </p>
	</div>	
{%endblock%}