{% extends 'base/index_base.html'%}
{% block header %}
	<title>Test Case Optimization</title>
{% endblock %}
{%block content%}
	<h1>TEST CASE OPTIMIZATION USING META-HEURISTIC ALGORITHMS</h1>
	<h2>Project by Shravan Dave</h2>
	<div class="container">
		<p>A system to optimize test cases involved in the Software Testing using different Meta-heuristic Algorithms. This enables the tester to sort out and focus on the most important test cases.</p>
		<p>For optimization, we use a Meta-Heuristic Algorithm (Particle Swarm Optimizer) and perform a comparative study with a different Meta-Heuristic Algorithm (Genetic Algorithm).</p>
		<p>Links to <a href="/data/" target="_blank">dataset</a>,
			<a href="/algorithm/" target="_blank">algorithms</a>,
			and <a href="/result/" target="_blank">results</a>.</p>
	</div>
{%endblock%}