$primary-color:#3B84B6;
$dull-primary-color: #2C6891;

$purple-color: #4B4B6B;
$red-color:#CA2F2F;
$green-color: #66BC14;
$pink-color: #E74F69;

// $links-color: #3A67B1;
$links-color: #435DD8;
$fade-green-color : #40A562;

$font-fam: Lato, sans-serif;

$body-font-size: 30px;
$h2-font-size: 40px;
$small-font-size:18px;
$medium-font-size:24px;

$orange-coder-color: #BA5614;